html {
  color-scheme: light dark;
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mybutton{
   background: yellowgreen;
   border: none;
   outline: none; 
   border-radius: 20px;
   padding: 10px;
   cursor: pointer;
}